* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: gray;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.thead {
  background: #22c8ff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 20px;
  color: white;
  /* margin: 5px; */
}
.tbody {
  background: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 20px;
  color: #333;
  margin: 5px;
}
.theadw {
  margin-bottom: 15px;
  width: 100%;
}
.table {
  width: 80%;
}
.prev_btn {
  background: #22c8ff;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  width: 100px;
  outline: none;
}
.next_btn {
  background: #22c8ff;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
  width: 100px;
  margin-left: 10px;
  outline: none;
}
.prev_btn:disabled {
  background: #ccc;
  color: #333;
  cursor: not-allowed;
}
.next_btn:disabled {
  background: #ccc;
  color: #333;
  cursor: not-allowed;
}
.btn_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-top: 20px;
}
.page_numbers {
  background-color: #22c8ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  color: white;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}
